*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
body{
    overflow-x: hidden;
}
nav{
    height: 6rem;
    width: 100vw;
    background-color: #f7ebf1;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
  padding-top : 29px;
  padding-left : 60px;
}
.logo img {
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: black;
}
.nav-links li a:hover {
    color: #91466a;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: white;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #91466a;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: black;
    background-color: #5fafb0;
    border:1.5px solid #91466a;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #91466a;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}
article {
  padding-top : 100px;
  padding : 200px;
  color : black;
}
.intro h1 {
  text-align : center;
  padding-bottom : 50px;
  font-size : 50px;
  font-weight: 600;
font-size: 60px;
line-height: 72px;
  color: rgba(24,32,66,1);
}
.intro h1 span {
  font-weight: 600;
font-size: 60px;
line-height: 72px;
  background-color: #f3ec78;
    background-image: linear-gradient(90deg,#422b99,#791b96 19.27%,#a3008b 36.46%,#c5007b 56.77%,#e00066 75.52%,#ff5300);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.intro p {
  text-align : center;
  padding-bottom : 50px;
  font-size : 20px
}

.part {
  display: flex;
  justify-content: center;
  align-items: center;
}
.part ul {
  display: flex;
  list-style : none;
}
.part ul li button{
    height : 50px;
    width : 300px;    
    border: 1.5px solid #8a376e;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
}
.part ul li button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #61DAFB;
    transition: all ease-in-out 350ms;
}

div .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
width: 50%;  // assume this is the default size
}








/*Stying for small screens*/
@media screen and (max-width: 800px){
  .logo{
  padding-top : 29px;
  padding-left : 18px;
}
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #f7ebf1;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@media screen and (max-width: 800px){
  article {
  padding-top : 120px;
  padding-left : 20px;
    padding-right : 20px;
  color : black;
}
  .part ul{
     flex-direction: column;
  }
  .part ul li {
    margin: 10px;
  }

}
